  <!-- <h3 class="text-center">{{ message.message }}</h3> -->
  <!-- <div *ngIf="movies.length > 0; else noMovies">
    <h2>Movie List</h2>
    <ul>
      <li *ngFor="let movie of movies">
        {{ movie.title }} - {{ movie.year }} -{{ movie.directors }}
      </li>
    </ul>
  </div>
  
  <ng-template #noMovies>
    <p>No movies available</p>
  </ng-template> -->


  <div class="container-fluid d-none py-5 my-3 px-5">
    <h2 class="text-center">Movie List</h2>
    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Directors</th>
            <th>Poster</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="movies && movies.length > 0; else noMovies">
            <tr *ngFor="let movie of movies">
              <td>{{ movie.title }}</td>
              <td>{{ movie.year }}</td>
              <td>{{ movie.directors }}</td>
              <td><img src="{{ movie.poster }}" alt="..." class="img-fluid w-25 h-25"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #noMovies>
    <div class="container">
      <p>No movies available</p>
    </div>
  </ng-template>
  
  <div class=" container-fluid py-5 my-3 px-5">
    <p-table
        [value]="movies"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Genres</th>
                <th>Directors</th>
                <th>Posters</th>
                <!-- Add more columns as needed -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movie>
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.genres }}</td>
                <td>{{ movie.directors }}</td>
                <td><img src="{{ movie.poster }}" alt="..." width="25" height="25" class="" loading="lazy" ></td>
              </tr>
        </ng-template>
    </p-table>
</div>

